<!DOCTYPE html>

<html lang="en">
<head>
    <title>{% block title %}Kultara Connect||Video Analyzer{% endblock %}</title>
    <meta charset="utf-8">
    <link href="/static/css/main.css" type="text/css" rel="stylesheet">
    <script src="/static/js/jquery-2.1.1.js"></script>

    <script src="/static/js/vidan.js"></script>

    <script type="text/javascript" src="/static/js/ox.ajast.js"></script>
    <script type="text/javascript" src="/static/js/webtoolkit.md5.js"></script>
    <script type="text/javascript" src="/static/js/KalturaClientBase.js"></script>
    <script type="text/javascript" src="/static/js/KalturaTypes.js"></script>
    <script type="text/javascript" src="/static/js/KalturaVO.js"></script>
    <script type="text/javascript" src="/static/js/KalturaServices.js"></script>
    <script type="text/javascript" src="/static/js/KalturaClient.js"></script>

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <!-- Generic page styles -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- blueimp Gallery styles -->
    <link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="/static/css/jquery.fileupload.css">
    <link rel="stylesheet" href="/static/css/jquery.fileupload-ui.css">
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript><link rel="stylesheet" href="/static/css/jquery.fileupload-noscript.css"></noscript>
    <noscript><link rel="stylesheet" href="/static/css/jquery.fileupload-ui-noscript.css"></noscript>



</head>

<body>
    <header class="navbar" role="navigation">

    </header>
      <section id="main">
      {% if messages %}
        <div id="messages" class="panel panel-warning">
          <div class="panel-heading"><span class="glyphicon glyphicon-exclamation-sign"></span></div>
          <div class="panel-body">
            <ul id="message_list">
              {% if messages %}
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
              {% endif %}
            </ul>
          </div>
        </div>
      {% endif %}

        {% block body %}Every child template should put something here...{% endblock %}
      </section>
   
    <footer>

    </footer>

<script>
{% block js %}
//custom javascript for templates go here...especially ondocumentready

{% endblock %}
</script>


</body>

</html>
