<!-- home template -->

{% extends "base.html" %}


{% block body %}
<h2>Welcome to the Video Analyzer</h2>

<form id="login" action="/login" method="post">
    {% csrf_token %}
    <p>
        <label>username</label>
        <input type="text" name="username" />
    </p>
    <p>
        <label>password</label>
        <input type="password" name="password" />
    </p>
    <input type="submit" name="login" value="login"> or 
    <input type="submit" name="login" value="join">

</form>


{% endblock %}